{%extends 'product/base.html'%}

{% block content %}
  <p>Корзина</p>
  {% for basketitem in basketitems %}
    <p>
      <a href="{{basketitem.product.get_absolute_url}}">{{basketitem.product}}</a>
    </p>
    <p>
      <a href="{{basketitem.product.get_absolute_url}}">
        <img src="{{basketitem.product.image.url}}" width="100" height="100" alt="{{basketitem.product}}">
      </a>
    </p>
    <p>Цена: {{basketitem.product.price}}</p>
    <p>Кол-во: {{basketitem.quantity}}</p>
    
    
    <p>-----------------------------------</p>
  {% empty %}
    <p>Пусто</p>
  {% endfor %}
  <p>Итого: {{final_price}} рублей</p>
  
{% endblock content %}