{%extends 'product/base.html'%}

{% block content %}
 <ul>  
    <p>{{des_product.name}}</p>
    <p>
      <img src="{{des_product.image.url}}" width="200" height="200" alt="{{des_product.name}}">
    </p>
    <p>{{des_product.text}}</p>
    <p>Цена: {{des_product.price}} руб.</p>
    <p>{{des_product.date_added}}</p>
    <form action="{% url 'product:basket'%}" method="POST">
        {%csrf_token%}
        {{addbasketform.as_p}}
        <button name="submit">Добавить в корзину</button>  
    </form>
  </ul>

{% endblock content %}