{%extends 'product/base.html'%}

{% block content %}
 <ul>  
    <p>Поднаправление: {{subdirection}}</p>
    {% for subproduct in page_obj %}
      <li>
        <p>
          <a href="{{subproduct.get_absolute_url}}">{{subproduct.name}}
          </a>
        </p>
        <p>
          <a href="{{subproduct.get_absolute_url}}"><img src="{{subproduct.image.url}}" width="200" height="200" alt="{{subproduct.name}}">
          </a>
        </p>
        <p>Цена: {{subproduct.price}} руб.</p>
      </li>
    {% empty %}
      <p>Нет товара</p>
    {% endfor %}
  </ul>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock content %}